<div ng-controller="GroceryCtrl as groceryCtrl">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Brand</td>
                <td>Description</td>
                <td>Size</td>
                <td>UPC</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="brand in groceryCtrl.brandGroceries | filter: { MajorCategoryId: grocCatCtrl.majorCategory }">
                <td>{{brand.BrandGroceryId}}</td>
                <td>{{brand.Brand}}</td>
                <td>{{brand.Description}}</td>
                <td>{{brand.Size}}</td>
                <td>{{brand.UPC}}</td>
            </tr>
        </tbody>
    </table>
</div>
