<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app/groceryChoice.js"></script>
    <title>Grocery Choice</title>
    <base href="/" />
</head>
<body ng-app="groceryChoice">
    <div class="nav navbar-inverse">
        <a class="navbar-brand" href="#">Grocery Choice</a>
    </div>
    <div ng-controller="CategoryGroceryCtrl as catGrocCtrl">
        <div class="pull-left">
            <div ng-controller="CategoryCtrl as catCtrl">
                <ul ng-repeat="major in catCtrl.majorCategories">
                    <li>
                        <a href="/{{major.MajorCategoryName}}/" ng-click="catGrocCtrl.major = major.MajorCategoryId">{{major.MajorCategoryName}}</a>
                        <div >
                            <ul ng-repeat="minor in catCtrl.minorCategories | filter: { MajorCategoryId: major.MajorCategoryId}">
                                <li>
                                    <a href="/{{major.MajorCategoryName}}/{{minor.MinorCategoryName}}/" ng-click="catGrocCtrl.minor = minor.MinorCategoryId">{{minor.MinorCategoryName}}</a>
                                    <div>
                                        <ul ng-repeat="item in catCtrl.itemCategories | filter: { MinorCategoryId: minor.MinorCategoryId}" ng-if="minor.HasItemCategory">
                                            <li>
                                                <a href="/{{major.MajorCategoryName}}/{{minor.MinorCategoryName}}/{{item.ItemCategoryName}}/" ng-click="catGrocCtrl.item = item.ItemCategoryId">{{item.ItemCategoryName}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <div ng-view></div>
        </div>
    </div>
</body>
</html>
